html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

@font-face {
    font-family: headerFont;
    src: url("../Files/Mary\ Jane\ Olyff.ttf")
}

body {
    --body-bg: #002d69; /*Creating a variable to have reference to body background color */
    --comp-bg: #ffffff;
    --min-header-height: 360px;
    background-color: var(--body-bg);
    margin-bottom: 40px;
    color: var(--comp-bg);
}

h1 {
    font-family: headerFont;
}

h3 {
  font-weight: bolder;
  -webkit-text-stroke: .05rem black;
  font-size: 1.5rem;
}

#header {
    background-image: linear-gradient(to right, var(--body-bg), black);
    min-height: var(--min-header-height);
    width: 100vw;
    margin-bottom: 1em;
}

#header .row {
    min-height: var(--min-header-height);
}

.min-vw-50 {
    min-width: 50vw;
}

/*Sticky footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; /* Set the fixed height of the footer here */
    line-height: 45px; /* Vertically center the text there */
    text-align: center;
    color: var(--comp_bg);
    background-color: var(--body-bg);
    border-top: 2px solid black;
}

/*Use any place you need light text*/
.txt-light {
    color: fff;
}

/*Set any class to the background color variable*/
.bg-body {
    background-color: var(--body-bg);
    padding-bottom: 0;
}

.card {
    min-width: 23%;
    padding: 1em;
    margin: 1.2em;
    color: black;
    background-color: var(--comp-bg);
}

.card-footer {
    background-color: var(--comp-bg);
}

.my-3 {
    margin-bottom: 0 !important;
    margin-top: .5em !important;
}

.my-4 {
    border-top: 2px solid black !important;
}

.project {
    padding-bottom: 1em;
    margin-bottom: 1.2em;
}

#Expertise {
    padding-bottom: 1.2em;
}


@media screen and (max-width: 730px) {
    #header {
      text-align: center;
    }
}

@keyframes blastoff {
    0% { transform: translate(-10%, 1px) rotate(0deg);}
    100% {transform: translate(-200%, -2px) rotate(0deg);}
}


@keyframes fadein {
    0%   { opacity: 0; }
    100%  { opacity: 1; }
}


#rocket {
    cursor: pointer;
}

#l0, #l1, #l2, #l3, #l4, #l5, #l6, #l7, #l8, #l9 {
    color: rgba(0,0,0, 0.5);
}

.fade {
    opacity: 0;
}

#proj-desc {
    min-width: 500px;
}
