html {
  position: relative;
  min-height: 100%;
}


body {
    --body-bg: #006eff; /*Creating a variable to have reference to body background color */
    background-color: var(--body-bg);
    margin-bottom: 40px;
    color: white;
}

/*Sticky footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; /* Set the fixed height of the footer here */
    line-height: 45px; /* Vertically center the text there */
    text-align: center;
    color: black;
    background-color: rgb(245, 202, 110);
}

/*Use any place you need light text*/
.txt-light {
    color: fff;
}

/*Set any class to the background color variable*/
.bg-body {
    background-color: var(--body-bg);
    padding-bottom: 0;
}

.card {
    min-width: 23%;
    padding: 1em;
    margin: 1.2em;
    color: black;
}

.card-footer {
    background-color: white;
}

/*Inline link colors*/
.inline-link {
    color: white;
    text-decoration: underline;
}

.inline-link:hover {
    color: b2ebf2;
    text-decoration: underline;
}

/*END Inline link colors*/

.my-3 {
    margin-bottom: 0 !important;
    margin-top: .5em !important;
}